
.chosen-container-single .chosen-single{
  border: 1px solid transparent;
  box-shadow: none;
  background: #fff;
}

.chosen-container-active.chosen-with-drop .chosen-single{
  box-shadow: none;
}

#selection_boxes_wrapper{
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 3;
}

#selection_boxes{
  display: inline-block;
  float: left;
  margin: auto;
  padding: 0 5px;
  background: #eee;
  border-top: 0;
  border-bottom-right-radius: 20px;
  border: 1px solid #bbb;
  border-top: 0;
  border-left: 0;
}

.select_group{
  cursor: pointer !important;
}

#select_db_box,
#select_table_box,
#select_variable_box{
  display: inline-block;
  float: left;
  width: auto;
  margin: 10px 5px;
}

.chosen-select{
  min-width: 200px;
}

.chosen-results{
  text-align: left;
}


#select_search_bar{
  float: left;
}
.search_bar_input_wrap{
  display: none;
  margin: 10px 5px;
}
#search_bar_input{
  padding-top: 3px;
  font-size: 16px;
  border: 0;
  outline: none;
  width: 180px;
  padding: 3px 10px;
  border-radius: 5px;
}

#selection_boxes_space_shadow{
  width: 100%;
  height: 0px;
}
@media screen and (max-width: 880px) {
  #selection_boxes_space_shadow{
    height: 50px;
  }
  #selection_boxes_space_shadow,
  #selection_boxes_wrapper{
    display: none;
  }
}
