html, body{
  padding: 0;
  margin: 0;
  background: #ddd;
  color: #666;
  font-family: Helvetica Neue, Helvetica, Arial;
}

#main_listing{
  margin: 20px;
  margin-top: 20px;
}

.table_box{
  margin-left: 20px;
  margin-bottom: 20px;
  display: inline-block; 
  width: calc(100% - 20px);
  border-radius: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #eee;
}

.variable_box{
  display: inline-block;
  max-width: 400px;
  margin: 5px 3px;
  padding: 5px;
  padding-bottom: 10px;
  vertical-align: top;
  background: #fff;
  border-radius: 20px;
}

.variable_table{
  border-collapse: collapse;
}

.variable_table th{
  padding: 3px 15px;
}
.variable_table td {
    padding: 0 5px;
}

.variable_table td:first-child{
  text-align: right;
}

.percent_bar{
  height: 20px;
  background: rgba(24, 196, 8, 0.4);
  display: inline-block;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}

.expression_box{
  max-height: 50px; 
  overflow: auto;
  word-break: break-all;
}

.table_modalities td{
  border-top: 1px solid #ddd;
}
.table_modalities .modality_value{
  max-height: 20px;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
.table_modalities .modality_value:hover{
  max-height: none;
  width: auto;
  white-space: normal;
}
