html, body{
  padding: 0;
  margin: 0;
  background: #ddd;
  color: #666;
  font-family: Helvetica Neue, Helvetica, Arial;
}

#main_listing{
  margin: 20px;
  margin-top: 20px;
}

.table_box{
  margin-left: 20px;
  margin-bottom: 20px;
  display: inline-block; 
  width: calc(100% - 20px);
  border-radius: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #eee;
}

.variable_box{
  display: inline-block;
  max-width: 300px;
  margin: 5px 3px;
  padding: 5px;
  padding-bottom: 10px;
  vertical-align: top;
  background: #fff;
  border-radius: 20px;
}

.variable_table{
  border-collapse: collapse;
}

.variable_table th{
  padding: 3px 15px;
}
.variable_table td {
    padding: 0 5px;
}

.variable_table td:first-child{
  text-align: right;
}

.percent_bar{
  height: 14px;
  background: #bdd700;
  display: inline-block;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}

.modality_hidden{
  display: none;
}

.btn_show_more{
  width: 100%; 
  cursor: pointer;
  border: 0;
  outline: none;
}
.btn_show_more:active{
  background: #ddd;
}

.show_less_modality{
  display: none;
  width: 100%; 
  cursor: pointer;
  border: 0;
  outline: none;
}
.show_less_modality:active{
  background: #ddd;
}

.btn_modality_group_name{
  cursor: pointer;
}
.btn_modality_group_name:active{
  background: #ddd;
}

.expression_box{
  max-width: 200px; 
  max-height: 50px; 
  overflow: auto;
  word-break: break-all;
}

.table_modalities td{
  border-top: 1px solid #ddd;
}
